[project]
	description = CORG Cloud Ticket Extractor codebase
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ashishcorg
[access "refs/for/refs/*"]
	read = group user/ashishcorg
	push = group user/ashishcorg
	label-Code-Review = -2..+2 group user/ashishcorg
	label-Verified = -1..+1 group user/ashishcorg
	rebase = group user/ashishcorg
	removeReviewer = group user/ashishcorg
	submit = group user/ashishcorg
[access "refs/heads/*"]
	read = group user/ashishcorg
	create = group user/ashishcorg
	push = +force group user/ashishcorg
	pushMerge = group user/ashishcorg
[access "refs/tags/*"]
	push = +force group user/ashishcorg
	pushTag = group user/ashishcorg
	pushSignedTag = group user/ashishcorg
