<span class="label label-danger crisp-span">New Tickets</span>
<div class="panel-group panel-group-crisp" id="accordion"> 

<% _.each(tickets, function(ticket){ %>
<div class="panel panel-default crisp-panel crisp-panel-margin">
    <div class="panel-heading crisp-panel-heading">
      <div class="panel-title">
        <span class="accordion-toggle" >Collapsible Group Item #2
		<span class="flag-h pull-right badge">H</span>
		</span>
      </div>
    </div>
    <div class="panel-collapse collapse">
      <div class="panel-body">
		  <div style="text-align: center;"><span style="font-size: 32px;">This is working now? </span></div><div>This should be working now.</div><ol><li>first</li><li>second</li><li>third</li><li><br></li></ol>
		  <small>Someone famous in Source Title</small>
      </div>
	  <div class="panel-footer crisp-panel-footer">Panel footer</div>
    </div>
  </div>
<% }); %>
  
</div>

	
  